<div class="board">
  <section>
    <div class="header">Ваши корабли</div>
    <table>
      <tr>
        <td></td>
        <td>А</td>
        <td>Б</td>
        <td>В</td>
        <td>Г</td>
        <td>Д</td>
        <td>Е</td>
        <td>Ж</td>
        <td>З</td>
        <td>И</td>
        <td>К</td>
      </tr>
      <!--...-->
    </table>
  </section>

  <section>
    <div class="header">Корабли противника</div>
    <table>
      <tr>
        <td></td>
        <td>А</td>
        <td>Б</td>
        <td>В</td>
        <td>Г</td>
        <td>Д</td>
        <td>Е</td>
        <td>Ж</td>
        <td>З</td>
        <td>И</td>
        <td>К</td>
      </tr>
      <!--...-->
    </table>
  </section>

  <div class="panel">
    <!--<button class="start-game">Начать игру!</button>-->
    <div class="table">
      <!--...-->

    </div>
    <div class="table table2">
      <!--...-->
    </div>
  </div>
</div>
<div class="history">
  <div class="header">История</div>
  <section>
    <ol>
      <li>Игрок выстрелил по [10,10]. <br>Результат: <span class="green">Попадние</span></li>
      <li>Компьютер выстрелил по [10,10]. <br>Результат: <span class="green">Попадние</span></li>
      <li>Компьютер выстрелил по [10,10]. <br>Результат: <span class="red">Промах</span></li>
      <li>Компьютер выстрелил по [10,10]. <br>Результат: <span class="red">Промах</span></li>
      <li>Компьютер выстрелил по [10,10]. <br>Результат: <span class="red">Промах</span></li>
      <li>Компьютер выстрелил по [10,10]. <br>Результат: <span class="red">Промах</span></li>
      <li>Компьютер выстрелил по [10,10]. <br>Результат: <span class="red">Промах</span></li>
      <li>Компьютер выстрелил по [10,10]. <br>Результат: <span class="red">Промах</span></li>
      <li>Компьютер выстрелил по [10,10]. <br>Результат: <span class="red">Промах</span></li>
      <li>Компьютер выстрелил по [10,10]. <br>Результат: <span class="red">Промах</span></li>
      <li>Компьютер выстрелил по [10,10]. <br>Результат: <span class="red">Промах</span></li>
      <li>Компьютер выстрелил по [10,10]. <br>Результат: <span class="red">Промах</span></li>
      <li>Компьютер выстрелил по [10,10]. <br>Результат: <span class="red">Промах</span></li>
      <li>Компьютер выстрелил по [10,10]. <br>Результат: <span class="red">Промах</span></li>
      <li>Компьютер выстрелил по [10,10]. <br>Результат: <span class="red">Промах</span></li>
      <li>Компьютер выстрелил по [10,10]. <br>Результат: <span class="red">Промах</span></li>
      <li>Компьютер выстрелил по [10,10]. <br>Результат: <span class="red">Промах</span></li>
      <li>Компьютер выстрелил по [10,10]. <br>Результат: <span class="red">Промах</span></li>
      <li>Компьютер выстрелил по [10,10]. <br>Результат: <span class="red">Промах</span></li>
      <li>Компьютер выстрелил по [10,10]. <br>Результат: <span class="red">Промах</span></li>
      <li>Компьютер выстрелил по [10,10]. <br>Результат: <span class="red">Промах</span></li>
      <li>Компьютер выстрелил по [10,10]. <br>Результат: <span class="red">Промах</span></li>
      <li>Компьютер выстрелил по [10,10]. <br>Результат: <span class="red">Промах</span></li>
      <li>Компьютер выстрелил по [10,10]. <br>Результат: <span class="red">Промах</span></li>
      <li>Компьютер выстрелил по [10,10]. <br>Результат: <span class="red">Промах</span></li>
      <li>Компьютер выстрелил по [10,10]. <br>Результат: <span class="red">Промах</span></li>
      <li>Компьютер выстрелил по [10,10]. <br>Результат: <span class="red">Промах</span></li>
      <li>Компьютер выстрелил по [10,10]. <br>Результат: <span class="red">Промах</span></li>
      <li>Компьютер выстрелил по [10,10]. <br>Результат: <span class="red">Промах</span></li>
      <li>Компьютер выстрелил по [10,10]. <br>Результат: <span class="red">Промах</span></li>
      <li>Компьютер выстрелил по [10,10]. <br>Результат: <span class="red">Промах</span></li>
      <li>Компьютер выстрелил по [10,10]. <br>Результат: <span class="red">Промах</span></li>
      <li>Компьютер выстрелил по [10,10]. <br>Результат: <span class="red">Промах</span></li>
      <li>Компьютер выстрелил по [10,10]. <br>Результат: <span class="red">Промах</span></li>
      <li>Компьютер выстрелил по [10,10]. <br>Результат: <span class="red">Промах</span></li>
      <li>Компьютер выстрелил по [10,10]. <br>Результат: <span class="red">Промах</span></li>
      <li>Компьютер выстрелил по [10,10]. <br>Резdультат: <span class="red">Промах</span></li>
    </ol>
  </section>
</div>

